<div class="login-container">
  <div class="container">
    <div class="row justify-content-center">
      <div>
        <img src="/assets/Logo.png" alt="logo" class="img-fluid" />
        <h1>Welcome Back!</h1>
        <p>Click below to sign In</p>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
            <label for="uname"><b>UserName</b></label>
             <input type="text" name="username" ngModel #username="ngModel" class="form-control" [ngClass]="{ 'is-invalid': myForm.submitted && username.invalid }" required>
              <div *ngIf="myForm.submitted && username.errors" class="invalid-feedback">
                  <div *ngIf="username?.errors?.['required']">UserName is required</div>
              </div>
        </div>
        
          <div class="form-group">
            <label for="password"><b>Password</b></label>
              <input type="password" name="password" ngModel #password="ngModel" class="form-control" [ngClass]="{ 'is-invalid': myForm.submitted && password.invalid }" required>
              <div *ngIf="myForm.submitted && password.errors" class="invalid-feedback">
                <div *ngIf="password?.errors?.['required']">password is required</div>
                <div *ngIf="password?.errors?.['minlength']">password must be at least 6 characters</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Sign In
          </button>
        </form>

        <div class="text mt-3">
          Facing issues with your account? <br />Contact support
        </div>
      </div>
    </div>
  </div>
</div>
